* {box-sizing: border-box;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 65px 50px 65px 100px;
}

h1{
    font-size: 100px;
    color:#4A4A4A;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    color:#4A4A4A;
    text-align: left;
}

h3{ 
    font-size: 30px;
    color:#9B9B9B;
    text-align: left;
}

h4{ 
    font-size: 20px;
    color:#4A4A4A;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

p{ 
    font-size: 18px;
    line-height: 30px;
    color:#4A4A4A;
    text-align: left;
}

nav{
    float: right;
}

ul{
    padding-top: 21px;
    vertical-align: middle;
}

li{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #B2B2B2;
    padding: 0 20px 0 20px;
}

a {
    text-decoration: none;
    color: #B2B2B2;
}

.intro{
    height: 800px;
    width: auto;
}

.intro h1 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro img{
    position: absolute;
    top:0;
    width: 100%;
    z-index: -1;
}

.advantages h4{
    padding-bottom: 24px;
}

.icon{
    padding-bottom: 8px;
}

.mask{
    mask: 100% 880px;
}

.tittle{
    padding: 64px 180px;
}

.subtitle{
    padding-bottom: 36px;
    line-height: 42px;
}

.col-3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    text-align: left;
    padding: 0 146px 112px 180px;
}

.icons{
   padding-left: 95px;
   padding-right: 95px;
}

.image_col-3 > img{
    width: 406px;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.col-4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
}

.category h3{
    position: absolute;
    color: white;
    text-transform: uppercase;
}

.category > div > img{
    position: relative;
    z-index: -1;
    float:left;
    width: auto;
    height: 100vh;
    object-fit:cover
}

#footer{
    position: relative;
    bottom:0;
    padding: 45px 0 45px 0;
    background-color: #F3F3F3;
    color: #9B9B9B;
    letter-spacing: 2px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    
    .col-4{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
    }
    .col-3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        text-align: left;
        padding: 0 74px 56px 90px;
    }
    
}

@media screen and (max-width: 600px) {
    .intro{
        height: 600px;
        width: 600px;
    }
    
    .intro h1 {
        font-size: 40px;
        position: relative;
        top: 40%;
        left: 50%;
    }

    .col-4{
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        position: relative;
    }
    .col-3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        text-align: left;
        padding: 0 32px 24px 48px;
    }
    
}
